.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  img {
  	opacity: 0.8;
  }

  .store-name {
    position: absolute;
    top: 26%;
    font-size: 4.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .prom-date {
    font-size: 2.0em;
    position: absolute;
    top: 42%;
    width: 100%;
    color: #fff;
  }


  #more-button {
	text-align: right;
  }

}